body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: black;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 962px;
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/* header */

.header {
  width: 100%;
  box-shadow: 0px 8px 12px #f3f3f3;
}

.btn1 {
  position: relative;
  width: 78px;
  height: 40px;
  border: 1px solid #e0e0e0;
  background: #fff;
  border-radius: 3px;
  color: #1d1d1d;
  font-weight: 700;
  font-size: 13px;
  margin-right: 16px;
  cursor: pointer;
  z-index: 100;
  overflow: hidden;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 72px;
  padding: 0 8px;
}

.oth__header {
  display: flex;
  align-items: center;
}

.btn1::after {
  content: "";
  display: block;
  position: absolute;
  top: 40%;
  left: 45%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  z-index: -1;
}
.basket {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  padding-top: 8px;
  overflow: hidden;
}
.basket::after {
  content: "";
  display: block;
  position: absolute;
  top: 40%;
  left: 45%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  z-index: -1;
}

.btn1:hover::after,
.basket:hover::after {
  transform: scale(15);
  transition: 0.5s;
  background: rgb(224, 224, 224);
}
.btn1:hover {
  border: none;
}
.basket:hover::after {
  transform: scale(8);
  transition: 0.5s;
  background: rgb(224, 224, 224);
}

/* header */

/* nav */

input {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #bebebe;
  opacity: 0.8;
  font-size: 16px;
  margin-top: 50px;
  padding: 2px;
}

.nav__inner {
  margin: 0 8px;
}

/* nav */

/* main */
.main-title {
  font-size: 22px;
  font-weight: 400;
}
figure img {
  width: 100%;
  max-width: 368px;
  height: auto;
  border-radius: 5px;
}

figure {
  margin: 16px 2px 0 2px;
  cursor: pointer;
}
figcaption {
  padding: 16px 0 0;
  line-height: 21px;
  width: 100%;
  height: auto;
}
figcaption div {
  margin-bottom: 4px;
  width: 100%;
  max-width: 308px;
  height: auto;
}
.name {
  font-size: 16px;
  font-weight: 500;
  color: #1d1d1d;
}

.food {
  font-size: 14px;
  color: #626262;
}
.time {
  font-size: 13px;
}
.flexbox__main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: auto;
}

.main__inner {
  padding: 56px 4px 100px;
}
figure:hover {
  transform: scale(0.98);
  transition: 0.3s ease-out;
}

/* main */

/* footer */

.footer {
  width: 100%;
  background: #262626;
  color: #fff;
}
.footer__inner {
  display: flex;
  flex-direction: column;
  padding: 0 8px;
}

.wht_logo {
  width: 100%;
  border-bottom: 1px solid #979797;
  padding: 59px 0 40px 0;
  margin-bottom: 32px;
}

select {
  width: 227px;
  height: 40px;
  border: none;
  outline: none;
  background: #3b3b3b;
  color: #fff;
  font-size: 14px;
  padding-left: 6px;
  cursor: pointer;
}

.mini-logo {
  margin: 33px 0 17px;
}

.links a img {
  margin-right: 12px;
  cursor: pointer;
}

.for_all {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #979797;
  padding-bottom: 48px;
}

.for_partners div,
.question div {
  margin: 0 0 23px 0;
}
.for_partners div:last-child,
.question div:last-child {
  margin: 0;
}
.for_partners {
  margin: 0 0 23px 0;
  width: 300px;
}
.question {
  width: 200px;
}
.socials {
  margin: 0 16px 23px 0;
}

.stores{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 41px 0 39px 0;
  border-bottom: 1px solid #979797;
  margin-bottom: 40px;
}

.app{
  display: block;
  margin-right: 40px;
}

.contacts{
  font-size: 13px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 0 16px 0;
}

.contacts div{
  width: 230px;
  margin: 0 0 24px 0;
}


/* footer */

@media (max-width: 631px){
  .flexbox__main{
    justify-content: center;
  }
}

@media (max-width: 943px){
  .flexbox__main{
    justify-content: space-around;
  }
}